.header_area_all {
    width: 100%;
    height: $header_line_height;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .header_line {
        width: $content_width;
        height: $header_line_height;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border-bottom: 1px solid #7B68EE;
    
        .logo_and_name_and_search {
            display: flex;
            flex-direction: row;
            align-items: center;
    
            .logo {
                background-image: url(/assets/images/logo.svg);
                background-size: cover;
                height: $logo_size;
                width: $logo_size;
                margin-right: 7px;
            }
    
            .name {
                font-weight: 700;
                font-size: 32px;
                color: #7B68EE;            
            }
    
            .search {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-left: 20px;
    
                form {
                    position: relative;
                    transition: all 1s;
                    width: 42.5px;
                    height: 42.5px;
                }
                    
                input {
                    position: absolute;
                    width: 100%;;
                    height: 42.5px;
                    line-height: 30px;
                    outline: 0;
                    border: 0;
                    display: none;
                    font-size: 1em;
                    padding: 0 20px;
                }
                    
                .fa {
                    padding: 10px;
                    width: 42.5px;
                    height: 42.5px;
                    position: absolute;
                    right: 0;
                    color: #7B68EE;
                    text-align: center;
                    font-size: 1.2em;
                    transition: all 1s;
                }
                    
                form:hover {
                    width: 40vw;
                    cursor: pointer;
                }
                    
                form:hover input{
                    display: block;
                    border: 1px solid #7B68EE;
                }
                    
                form:hover .fa{
                    background: #7B68EE;
                    color: white;
                }
            }
        }
    
        .menu {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
    
            a {
                font-size: 16px;
                color: black;
                font-weight: 600;
                margin-left: 50px;                
    
                .enter {                    
                    background-image: url(../assets/images/enter.svg);
                    background-size: cover;
                    height: $main_page_button_size;
                    width: $main_page_button_size;
                }
    
                .profile {                    
                    background-image: url(../assets/images/profile.svg);
                    background-size: cover;
                    height: $main_page_button_size;
                    width: $main_page_button_size;
                }
    
                &:hover {
                    .enter {  
                        background-image: url(../assets/images/enter-hover.svg);                        
                    }
    
                    .profile {  
                        background-image: url(../assets/images/profile-hover.svg);                        
                    }
                }               
                    
            }
    
            a.item:after {
                display: block; /*превращаем его в блочный элемент*/
                content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
                height: 3px; /*задаём высоту линии*/
                width: 0%; /*задаём начальную ширину элемента (линии)*/
                background-color: #7B68EE; /*цвет фона элемента*/
                transition: width 0.3s ease-in-out; /*данное свойство отвечает за плавное изменение ширины. Здесь можно задать время анимации в секундах (в данном случае задано 0.4 секунды)*/
            }
    
            a.item:hover:after,a.item:focus:after {
                width: 100%;
            }            
        }
    }     
}

.breadcrumbs_area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .breadcrumbs_block {
        width: $content_width;
        display: flex;
        flex-direction: row;
        align-items: center;

        a {
            margin: 20px 10px;
            color: black;
            font-weight: 500;        

            &:first-child {
                margin-left: 0;
            }
        }

        .image {
            background-image: url(../assets/images/right.png);
            background-position: center;
            background-size: cover;
            height: 20px;
            width: 20px;
        }

        a.selected_a {
            color: grey;
            pointer-events: none; /* делаем ссылку некликабельной */
            cursor: default;
        }    
    }
}

.all_events_area {    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .all_events {
        width: $content_width;
        display: column;
        flex-direction: row;

        h1 {
            font-size: 38px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        .events_types {
            button {
                font-weight: 500;
                padding: 5px 15px;
                border: 2px solid #7B68EE;
                color: #7B68EE;
                margin-right: 5px;

                &:hover {
                    transition: .3s;
                    color: white;
                    background-color: #7B68EE;
                }
            }

            .selected_button {
                color: white;
                background-color: #7B68EE;
            }
        }

        h2 {
            font-size: 18px;
            margin: 10px 0 20px 0;
        }

        .event_item {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 15px;
            margin-bottom: 10px;
            color: black;
            border: 2px solid #7B68EE;
            font-weight: 500;
            align-items: stretch;

            .name_and_status {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .name {
                    font-weight: 600;
                    font-size: 18px;
                    margin-bottom: 10px;
                }

                .status {
                    color: #7B68EE;
                }
            }

            .date_and_button {
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .date {
                    font-weight: 500;
                    font-size: 16px;
                    font-family: "Open Sans";
                }

                button {
                    color: black;

                    &:hover {
                        transition: .3s;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}